# *Data Manipulation With Pandas*

# 1- .read() :

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("appointments.csv")

.head() returns the first few rows (the “head” of the DataFrame).

In [7]:
print(df.head()) # first 5 elements

  appointment_id patient_id doctor_id appointment_date appointment_time  \
0           A001       P034      D009        9.08.2023         15:15:00
1           A002       P032      D004        9.06.2023         14:30:00
2           A003       P048      D004       28.06.2023         08:00:00
3           A004       P025      D006        1.09.2023         09:15:00
4           A005       P040      D003        6.07.2023         12:45:00

  reason_for_visit     status
0          Therapy  Scheduled
1          Therapy    No-show
2     Consultation  Cancelled
3     Consultation  Cancelled
4        Emergency    No-show

# 2- .info()

.info() shows information on each of the columns, such as the data type and number of missing values.

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   appointment_id    200 non-null    object
 1   patient_id        200 non-null    object
 2   doctor_id         200 non-null    object
 3   appointment_date  200 non-null    object
 4   appointment_time  200 non-null    object
 5   reason_for_visit  200 non-null    object
 6   status            200 non-null    object
dtypes: object(7)
memory usage: 11.1+ KB
None

# 3- .shape

.shape returns the number of **rows and columns** of the DataFrame.

In [12]:
df.shape

(200, 7)

# 4- .describe()

.describe() calculates a few summary statistics for each column.

In [14]:
df.describe()

,appointment_id,patient_id,doctor_id,appointment_date,appointment_time,reason_for_visit,status
count,200,200,200,200,200,200,200
unique,200,48,10,158,40,5,4
top,A001,P012,D005,16.08.2023,11:00:00,Checkup,No-show
freq,1,10,29,5,9,45,52

# 5- .columns

An index of columns: the column names.

In [16]:
df.columns

Index(['appointment_id', 'patient_id', 'doctor_id', 'appointment_date',
       'appointment_time', 'reason_for_visit', 'status'],
      dtype='object')

# 6- .sort_values()

Using for sorting. It must include raw name (...)

In [20]:
df.sort_values("reason_for_visit")

,appointment_id,patient_id,doctor_id,appointment_date,appointment_time,reason_for_visit,status
50,A051,P004,D006,4.02.2023,11:45:00,Checkup,Completed
35,A036,P033,D003,8.01.2023,14:30:00,Checkup,No-show
171,A172,P018,D006,9.03.2023,16:15:00,Checkup,Scheduled
169,A170,P043,D005,3.03.2023,09:00:00,Checkup,Scheduled
104,A105,P010,D003,14.08.2023,16:00:00,Checkup,No-show
...,...,...,...,...,...,...,...
46,A047,P032,D007,2.05.2023,11:00:00,Therapy,Completed
162,A163,P039,D010,27.06.2023,15:00:00,Therapy,No-show
163,A164,P014,D008,28.07.2023,17:15:00,Therapy,Cancelled
39,A040,P010,D009,27.03.2023,12:30:00,Therapy,Completed
0,A001,P034,D009,9.08.2023,15:15:00,Therapy,Scheduled

In [22]:
df.sort_values(by="patient_id")

,appointment_id,patient_id,doctor_id,appointment_date,appointment_time,reason_for_visit,status
196,A197,P001,D005,1.04.2023,13:30:00,Emergency,No-show
6,A007,P001,D007,9.04.2023,10:30:00,Consultation,Scheduled
70,A071,P001,D006,26.01.2023,17:00:00,Follow-up,Scheduled
47,A048,P001,D009,16.01.2023,15:45:00,Emergency,Cancelled
54,A055,P002,D010,6.10.2023,17:30:00,Checkup,Scheduled
...,...,...,...,...,...,...,...
109,A110,P049,D005,19.07.2023,14:30:00,Consultation,Scheduled
62,A063,P050,D004,29.06.2023,09:00:00,Follow-up,Scheduled
82,A083,P050,D001,7.11.2023,12:30:00,Emergency,Completed
96,A097,P050,D001,6.05.2023,14:45:00,Follow-up,No-show
185,A186,P050,D003,27.03.2023,17:15:00,Follow-up,No-show

In [23]:
df.sort_values(by= "patient_id", ascending=False)

,appointment_id,patient_id,doctor_id,appointment_date,appointment_time,reason_for_visit,status
62,A063,P050,D004,29.06.2023,09:00:00,Follow-up,Scheduled
96,A097,P050,D001,6.05.2023,14:45:00,Follow-up,No-show
185,A186,P050,D003,27.03.2023,17:15:00,Follow-up,No-show
82,A083,P050,D001,7.11.2023,12:30:00,Emergency,Completed
23,A024,P049,D008,21.06.2023,08:00:00,Checkup,Completed
...,...,...,...,...,...,...,...
81,A082,P002,D008,20.01.2023,10:45:00,Follow-up,Scheduled
6,A007,P001,D007,9.04.2023,10:30:00,Consultation,Scheduled
70,A071,P001,D006,26.01.2023,17:00:00,Follow-up,Scheduled
196,A197,P001,D005,1.04.2023,13:30:00,Emergency,No-show
47,A048,P001,D009,16.01.2023,15:45:00,Emergency,Cancelled

In [24]:
df.sort_values(by= ["patient_id", "appointment_time"], ascending=[False, True])

,appointment_id,patient_id,doctor_id,appointment_date,appointment_time,reason_for_visit,status
62,A063,P050,D004,29.06.2023,09:00:00,Follow-up,Scheduled
82,A083,P050,D001,7.11.2023,12:30:00,Emergency,Completed
96,A097,P050,D001,6.05.2023,14:45:00,Follow-up,No-show
185,A186,P050,D003,27.03.2023,17:15:00,Follow-up,No-show
23,A024,P049,D008,21.06.2023,08:00:00,Checkup,Completed
...,...,...,...,...,...,...,...
54,A055,P002,D010,6.10.2023,17:30:00,Checkup,Scheduled
6,A007,P001,D007,9.04.2023,10:30:00,Consultation,Scheduled
196,A197,P001,D005,1.04.2023,13:30:00,Emergency,No-show
47,A048,P001,D009,16.01.2023,15:45:00,Emergency,Cancelled
70,A071,P001,D006,26.01.2023,17:00:00,Follow-up,Scheduled

# 7- .isin()

The .isin() function is a pandas method that checks whether each value in a column exists in a specified list or array.

In [7]:
df[df["status"].isin(["Scheduled"])]

,appointment_id,patient_id,doctor_id,appointment_date,appointment_time,reason_for_visit,status
0,A001,P034,D009,9.08.2023,15:15:00,Therapy,Scheduled
5,A006,P045,D006,19.06.2023,16:15:00,Checkup,Scheduled
6,A007,P001,D007,9.04.2023,10:30:00,Consultation,Scheduled
8,A009,P039,D010,5.03.2023,13:45:00,Follow-up,Scheduled
12,A013,P003,D002,16.08.2023,12:00:00,Emergency,Scheduled
15,A016,P016,D008,30.06.2023,11:00:00,Consultation,Scheduled
16,A017,P037,D009,11.07.2023,17:00:00,Emergency,Scheduled
26,A027,P005,D005,14.11.2023,12:45:00,Therapy,Scheduled
31,A032,P048,D005,6.11.2023,10:45:00,Checkup,Scheduled
34,A035,P036,D003,18.04.2023,08:45:00,Follow-up,Scheduled
36,A037,P030,D004,28.03.2023,11:00:00,Consultation,Scheduled
37,A038,P037,D009,23.02.2023,13:00:00,Consultation,Scheduled
38,A039,P023,D002,17.04.2023,08:00:00,Follow-up,Scheduled
41,A042,P036,D001,21.03.2023,11:15:00,Emergency,Scheduled
44,A045,P010,D006,28.09.2023,17:00:00,Emergency,Scheduled
53,A054,P016,D008,16.12.2023,11:45:00,Follow-up,Scheduled
54,A055,P002,D010,6.10.2023,17:30:00,Checkup,Scheduled
55,A056,P049,D004,2.01.2023,12:45:00,Checkup,Scheduled
62,A063,P050,D004,29.06.2023,09:00:00,Follow-up,Scheduled
66,A067,P043,D001,10.08.2023,11:00:00,Follow-up,Scheduled
67,A068,P037,D005,14.03.2023,15:00:00,Checkup,Scheduled
69,A070,P003,D003,26.08.2023,17:00:00,Follow-up,Scheduled
70,A071,P001,D006,26.01.2023,17:00:00,Follow-up,Scheduled
71,A072,P033,D002,12.06.2023,13:30:00,Checkup,Scheduled
79,A080,P031,D005,26.06.2023,08:30:00,Consultation,Scheduled
81,A082,P002,D008,20.01.2023,10:45:00,Follow-up,Scheduled
83,A084,P035,D006,31.05.2023,16:00:00,Consultation,Scheduled
91,A092,P026,D001,30.01.2023,14:15:00,Therapy,Scheduled
99,A100,P029,D006,2.03.2023,08:00:00,Emergency,Scheduled
100,A101,P036,D001,21.09.2023,13:15:00,Therapy,Scheduled
105,A106,P037,D005,29.10.2023,11:15:00,Therapy,Scheduled
108,A109,P035,D005,29.07.2023,14:00:00,Follow-up,Scheduled
109,A110,P049,D005,19.07.2023,14:30:00,Consultation,Scheduled
110,A111,P035,D010,22.05.2023,15:30:00,Follow-up,Scheduled
117,A118,P024,D003,9.08.2023,08:15:00,Consultation,Scheduled
125,A126,P025,D010,2.11.2023,09:45:00,Emergency,Scheduled
133,A134,P025,D006,17.10.2023,15:15:00,Consultation,Scheduled
134,A135,P022,D005,9.09.2023,16:30:00,Therapy,Scheduled
144,A145,P007,D002,11.11.2023,14:45:00,Checkup,Scheduled
147,A148,P031,D002,6.12.2023,08:30:00,Consultation,Scheduled
150,A151,P016,D002,28.01.2023,09:15:00,Therapy,Scheduled
160,A161,P045,D005,17.06.2023,10:45:00,Consultation,Scheduled
166,A167,P035,D001,15.11.2023,08:15:00,Follow-up,Scheduled
169,A170,P043,D005,3.03.2023,09:00:00,Checkup,Scheduled
171,A172,P018,D006,9.03.2023,16:15:00,Checkup,Scheduled
184,A185,P009,D009,21.03.2023,14:00:00,Consultation,Scheduled
186,A187,P027,D003,13.02.2023,12:30:00,Consultation,Scheduled
188,A189,P005,D010,5.10.2023,13:30:00,Follow-up,Scheduled
189,A190,P029,D003,16.11.2023,15:15:00,Checkup,Scheduled
193,A194,P008,D002,6.04.2023,12:45:00,Therapy,Scheduled
194,A195,P048,D010,19.08.2023,17:15:00,Checkup,Scheduled

# Subsetting rows

In [26]:
patient=df[df["patient_id"]> "P040"]

In [27]:
patient.head()

,appointment_id,patient_id,doctor_id,appointment_date,appointment_time,reason_for_visit,status
2,A003,P048,D004,28.06.2023,08:00:00,Consultation,Cancelled
5,A006,P045,D006,19.06.2023,16:15:00,Checkup,Scheduled
22,A023,P047,D009,9.05.2023,14:30:00,Follow-up,Cancelled
23,A024,P049,D008,21.06.2023,08:00:00,Checkup,Completed
25,A026,P046,D006,17.03.2023,14:15:00,Follow-up,Cancelled

In [28]:
appoint_time= df[df["appointment_time"] > "17:00:00"]

In [29]:
appoint_time

,appointment_id,patient_id,doctor_id,appointment_date,appointment_time,reason_for_visit,status
14,A015,P026,D004,15.01.2023,17:15:00,Consultation,No-show
32,A033,P021,D005,23.09.2023,17:45:00,Therapy,No-show
54,A055,P002,D010,6.10.2023,17:30:00,Checkup,Scheduled
56,A057,P028,D010,15.04.2023,17:45:00,Emergency,Completed
59,A060,P020,D002,22.11.2023,17:15:00,Checkup,No-show
76,A077,P029,D010,14.12.2023,17:15:00,Checkup,Completed
89,A090,P026,D009,1.06.2023,17:30:00,Emergency,No-show
123,A124,P013,D008,16.03.2023,17:15:00,Emergency,Cancelled
146,A147,P014,D002,13.11.2023,17:30:00,Emergency,Completed
153,A154,P012,D006,6.03.2023,17:30:00,Emergency,No-show
161,A162,P042,D004,1.01.2023,17:15:00,Emergency,No-show
163,A164,P014,D008,28.07.2023,17:15:00,Therapy,Cancelled
183,A184,P042,D008,26.02.2023,17:45:00,Therapy,Completed
185,A186,P050,D003,27.03.2023,17:15:00,Follow-up,No-show
194,A195,P048,D010,19.08.2023,17:15:00,Checkup,Scheduled

In [30]:
stat= df[df["status"]== "Completed"]

In [31]:
stat

,appointment_id,patient_id,doctor_id,appointment_date,appointment_time,reason_for_visit,status
9,A010,P005,D003,13.01.2023,15:30:00,Therapy,Completed
11,A012,P029,D003,7.05.2023,10:00:00,Follow-up,Completed
19,A020,P014,D003,5.12.2023,15:15:00,Consultation,Completed
23,A024,P049,D008,21.06.2023,08:00:00,Checkup,Completed
28,A029,P016,D010,25.06.2023,14:30:00,Checkup,Completed
29,A030,P026,D005,29.08.2023,13:15:00,Checkup,Completed
30,A031,P026,D006,4.04.2023,10:30:00,Checkup,Completed
39,A040,P010,D009,27.03.2023,12:30:00,Therapy,Completed
43,A044,P031,D006,20.09.2023,12:30:00,Follow-up,Completed
46,A047,P032,D007,2.05.2023,11:00:00,Therapy,Completed
50,A051,P004,D006,4.02.2023,11:45:00,Checkup,Completed
56,A057,P028,D010,15.04.2023,17:45:00,Emergency,Completed
72,A073,P040,D003,24.12.2023,15:00:00,Follow-up,Completed
76,A077,P029,D010,14.12.2023,17:15:00,Checkup,Completed
82,A083,P050,D001,7.11.2023,12:30:00,Emergency,Completed
87,A088,P008,D005,2.05.2023,16:30:00,Checkup,Completed
88,A089,P029,D010,14.02.2023,11:00:00,Consultation,Completed
92,A093,P034,D001,9.04.2023,09:30:00,Follow-up,Completed
95,A096,P004,D003,7.07.2023,15:00:00,Consultation,Completed
97,A098,P045,D005,17.03.2023,13:00:00,Emergency,Completed
98,A099,P011,D007,4.07.2023,15:00:00,Checkup,Completed
103,A104,P036,D006,18.04.2023,08:45:00,Follow-up,Completed
106,A107,P009,D007,17.04.2023,13:45:00,Follow-up,Completed
113,A114,P018,D001,8.08.2023,09:00:00,Therapy,Completed
120,A121,P037,D001,7.04.2023,15:00:00,Checkup,Completed
122,A123,P049,D002,28.02.2023,10:45:00,Therapy,Completed
124,A125,P023,D007,18.02.2023,10:15:00,Checkup,Completed
127,A128,P041,D002,15.04.2023,14:45:00,Follow-up,Completed
132,A133,P048,D001,23.03.2023,14:30:00,Checkup,Completed
135,A136,P013,D009,13.05.2023,12:30:00,Follow-up,Completed
140,A141,P041,D002,15.06.2023,15:15:00,Checkup,Completed
146,A147,P014,D002,13.11.2023,17:30:00,Emergency,Completed
148,A149,P019,D002,26.07.2023,12:30:00,Follow-up,Completed
149,A150,P047,D003,16.08.2023,10:45:00,Therapy,Completed
151,A152,P005,D004,14.04.2023,08:30:00,Therapy,Completed
152,A153,P035,D009,8.07.2023,12:45:00,Consultation,Completed
155,A156,P021,D008,22.11.2023,14:30:00,Therapy,Completed
156,A157,P036,D007,12.05.2023,11:00:00,Follow-up,Completed
157,A158,P023,D010,12.07.2023,12:15:00,Checkup,Completed
172,A173,P047,D005,4.06.2023,13:30:00,Checkup,Completed
178,A179,P038,D006,8.03.2023,12:15:00,Checkup,Completed
180,A181,P046,D004,3.09.2023,13:15:00,Emergency,Completed
181,A182,P013,D008,12.04.2023,08:00:00,Follow-up,Completed
182,A183,P040,D004,3.02.2023,16:15:00,Checkup,Completed
183,A184,P042,D008,26.02.2023,17:45:00,Therapy,Completed
198,A199,P017,D001,1.05.2023,12:45:00,Follow-up,Completed

# Aggregating DataFrames

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("billing.csv")

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   bill_id         200 non-null    object
 1   patient_id      200 non-null    object
 2   treatment_id    200 non-null    object
 3   bill_date       200 non-null    object
 4   amount          200 non-null    float64
 5   payment_method  200 non-null    object
 6   payment_status  200 non-null    object
dtypes: float64(1), object(6)
memory usage: 11.1+ KB

In [9]:
df['amount'].mean()

np.float64(2756.2492500000003)

In [10]:
df['amount'].median()

np.float64(2828.165)

# Summarizing dates

Summary statistics can also be calculated on date columns that have values with the data type datetime64. Some summary statistics — like mean — don't make a ton of sense on dates, but others are super helpful, for example, minimum and maximum, which allow you to see what time range your data covers.

In [12]:
df['bill_date'].max()

'2023-12-30'

In [13]:
df['bill_date'].min()

'2023-01-01'

# Efficient summaries

What does .agg() do ?

.agg() = a shortcut to apply multiple summary functions at once.
If you want to calculate the mean and median of a column:

sales['weekly_sales'].mean()
sales['weekly_sales'].median()

You have to write two lines.
But with .agg(), you can do both in one line:

sales['weekly_sales'].agg([np.mean, np.median])

Why use .agg()?
1-To apply more than one function at the same time.
2-To use your own custom function (like IQR).

In [17]:
import numpy as np

# Define a custom function: IQR (Interquartile Range)
def IQR(column):
    return column.quantile(0.75) - column.quantile(0.25)

# Use .agg() to apply multiple functions at once
df['amount'].agg([np.mean, np.median, IQR])

C:\Users\aybuke\AppData\Local\Temp\ipykernel_3840\441050473.py:8: FutureWarning: The provided callable <function mean at 0x00000135B8E55B20> is currently using Series.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df['amount'].agg([np.mean, np.median, IQR])
C:\Users\aybuke\AppData\Local\Temp\ipykernel_3840\441050473.py:8: FutureWarning: The provided callable <function median at 0x00000135B8F10540> is currently using Series.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df['amount'].agg([np.mean, np.median, IQR])

mean      2756.24925
median    2828.16500
IQR       2273.21500
Name: amount, dtype: float64

# Cumulative statistics

sort_values(): Sorts the data by a specific column. It’s important to sort your data before using cumsum() or cummax() if the order matters (like in time series), otherwise results might be wrong.

In [19]:
#sort by dates
df.sort_values('bill_date')

,bill_id,patient_id,treatment_id,bill_date,amount,payment_method,payment_status
40,B041,P005,T041,2023-01-01,3349.18,Credit Card,Paid
161,B162,P042,T162,2023-01-01,2212.80,Cash,Paid
55,B056,P049,T056,2023-01-02,4201.76,Insurance,Paid
154,B155,P025,T155,2023-01-03,2736.34,Insurance,Failed
145,B146,P028,T146,2023-01-05,894.39,Insurance,Pending
...,...,...,...,...,...,...,...
45,B046,P019,T046,2023-12-20,1526.36,Cash,Paid
72,B073,P040,T073,2023-12-24,2259.08,Credit Card,Failed
78,B079,P012,T079,2023-12-26,2319.43,Insurance,Paid
137,B138,P049,T138,2023-12-26,1074.71,Cash,Paid
199,B200,P007,T200,2023-12-30,3288.15,Insurance,Paid

cumsum(): Calculates the cumulative sum of values in a Series or DataFrame column. Each value is the sum of all previous values plus the current one.

In [24]:
df['amount'].cumsum()

0        3941.97
1        8100.41
2       11831.96
3       16631.82
4       17213.87
         ...
195    542130.32
196    543105.81
197    546489.53
198    547961.70
199    551249.85
Name: amount, Length: 200, dtype: float64

cummax(): Calculates the cumulative maximum. Each value is the maximum value seen so far in the Series or column.

In [25]:
df['amount'].cummax()

0      3941.97
1      4158.44
2      4158.44
3      4799.86
4      4799.86
        ...
195    4973.63
196    4973.63
197    4973.63
198    4973.63
199    4973.63
Name: amount, Length: 200, dtype: float64

# What is .groupby()?

The .groupby() method in pandas is used to split your data into groups based on one or more columns. After splitting, you can perform some calculations or aggregations on each group separately. 

- How does it work?

Split: The data is divided into groups based on unique values in the column(s) you specify.

Apply: You apply a function (like sum, mean, count, etc.) to each group independently.

Combine: The results from all groups are combined back into a new object (like a Series or DataFrame).

- sales_by_type = sales.groupby('type')['weekly_sales'].sum()

.groupby('type') splits data into groups by each unique store type (e.g., A, B, C).

['weekly_sales'] selects the column to aggregate.

.sum() adds up the weekly sales within each group.

# Why use .groupby()?

- It helps analyze data per group rather than overall.

- Enables easy calculation of statistics like sum, mean, count, min, max, etc., for each category or combination of categories.

- Very useful in data aggregation and summarization.

In [27]:
df.groupby('payment_method')['amount'].sum()

payment_method
Cash           167707.14
Credit Card    201382.43
Insurance      182160.28
Name: amount, dtype: float64

In [28]:
df.groupby('payment_method')['amount'].mean()

payment_method
Cash           2749.297377
Credit Card    2685.099067
Insurance      2846.254375
Name: amount, dtype: float64

In [29]:
df.groupby('payment_status')['amount'].sum()

payment_status
Failed     193212.94
Paid       173424.90
Pending    184612.01
Name: amount, dtype: float64

# Slicing and Indexing DataFrames

In [33]:
print(df.index)

RangeIndex(start=0, stop=200, step=1)

In [35]:
df.loc[100]

bill_id                  B101
patient_id               P036
treatment_id             T101
bill_date          2023-09-21
amount                2930.05
payment_method    Credit Card
payment_status           Paid
cum_amount          266886.49
Name: 100, dtype: object

In [37]:
df.loc[[10,20]]

,bill_id,patient_id,treatment_id,bill_date,amount,payment_method,payment_status,cum_amount
10,B011,P022,T011,2023-11-12,4671.66,Cash,Failed,33351.01
20,B021,P028,T021,2023-04-24,2926.23,Insurance,Failed,56912.35

In [41]:
df.loc[df['amount'] > 4500]

,bill_id,patient_id,treatment_id,bill_date,amount,payment_method,payment_status,cum_amount
3,B004,P025,T004,2023-09-01,4799.86,Insurance,Failed,16631.82
8,B009,P039,T009,2023-03-05,4541.14,Credit Card,Paid,27083.68
10,B011,P022,T011,2023-11-12,4671.66,Cash,Failed,33351.01
12,B013,P003,T013,2023-08-16,4704.96,Cash,Paid,38827.17
35,B036,P033,T036,2023-01-08,4833.17,Cash,Pending,94190.85
41,B042,P036,T042,2023-03-21,4781.32,Insurance,Pending,112795.66
50,B051,P004,T051,2023-02-04,4550.10,Credit Card,Failed,142077.27
75,B076,P044,T076,2023-11-27,4945.03,Credit Card,Pending,208211.49
82,B083,P050,T083,2023-11-07,4960.65,Credit Card,Pending,230005.75
90,B091,P010,T091,2023-06-11,4523.86,Credit Card,Paid,246914.70
107,B108,P024,T108,2023-04-21,4973.63,Cash,Paid,290118.44
114,B115,P049,T115,2023-10-25,4809.31,Insurance,Paid,311598.40
125,B126,P025,T126,2023-11-02,4672.30,Credit Card,Pending,342480.13
129,B130,P017,T130,2023-02-23,4966.18,Insurance,Failed,352484.99
130,B131,P049,T131,2023-05-11,4671.50,Credit Card,Failed,357156.49
146,B147,P014,T147,2023-11-13,4716.31,Insurance,Failed,400268.29
153,B154,P012,T154,2023-03-06,4637.26,Cash,Failed,420594.58
155,B156,P021,T156,2023-11-22,4964.71,Credit Card,Failed,428295.63
158,B159,P016,T159,2023-04-08,4687.68,Credit Card,Pending,438753.02
172,B173,P047,T173,2023-06-04,4890.25,Insurance,Pending,480111.38
177,B178,P017,T178,2023-01-17,4652.41,Cash,Pending,497824.75
189,B190,P029,T190,2023-11-16,4834.02,Credit Card,Paid,524706.39
191,B192,P038,T192,2023-08-31,4846.20,Insurance,Paid,532525.47

In [43]:
df.loc[df['payment_method'] == "Insurance"]

,bill_id,patient_id,treatment_id,bill_date,amount,payment_method,payment_status,cum_amount
0,B001,P034,T001,2023-08-09,3941.97,Insurance,Pending,3941.97
1,B002,P032,T002,2023-06-09,4158.44,Insurance,Paid,8100.41
2,B003,P048,T003,2023-06-28,3731.55,Insurance,Paid,11831.96
3,B004,P025,T004,2023-09-01,4799.86,Insurance,Failed,16631.82
5,B006,P045,T006,2023-06-19,1381.00,Insurance,Pending,18594.87
...,...,...,...,...,...,...,...,...
183,B184,P042,T184,2023-02-26,2293.98,Insurance,Pending,514028.61
185,B186,P050,T186,2023-03-27,2153.90,Insurance,Paid,517341.19
188,B189,P005,T189,2023-10-05,1108.25,Insurance,Failed,519872.37
191,B192,P038,T192,2023-08-31,4846.20,Insurance,Paid,532525.47
199,B200,P007,T200,2023-12-30,3288.15,Insurance,Paid,551249.85

In [45]:
df.loc[[5,88], "payment_status"]

5     Pending
88    Pending
Name: payment_status, dtype: object

# Visualizing DataFrames

Using matplotlib

In [8]:
import matplotlib.pyplot as plt